Repository process-analytics/process-analytics.dev, pull requests merged in 2021-07, with the labels that each got.

#40 [FEAT] Set image size in 404 page for desktop and mobile
  src/pages/404.tsx
Labels: enhancement

#42 [INFRA] Fix the reviewer list in Dependabot workflow
  .github/dependabot.yml
Labels: infra:repo

#55 [FEAT] Add a new library 'BPMN Visualization - R package'
  src/content/LibraryContent.tsx
Labels: enhancement

#51 [FEAT] Add new blog post
  src/content/PostsContent.tsx
  src/theme/components/Post.tsx
  src/theme/sections/Blog.tsx
  src/theme/sections/Libraries.tsx
Labels: enhancement

#57 [FEAT] Customize the page title
  src/content/HelmetContent.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/theme/components/Helmet.tsx
  src/theme/components/Layout.tsx
Labels: enhancement

#56 [FEAT] Setup analytics (visits and views)
  gatsby-config.js
  package-lock.json
  package.json
Labels: enhancement

#41 [FEAT] Add more content in the 'About' section in markdown
  src/content/AboutContent.tsx
  src/content/LandingContent.tsx
  src/theme/sections/About.tsx
  src/theme/sections/Landing.tsx
  src/theme/types.ts
Labels: enhancement

#74 [FEAT] Add blog posts about process discovery to BPMN
  src/content/PostsContent.tsx
  src/theme/components/Post.tsx
Labels: enhancement

#82 [FIX] Fix the animation of the image & the margin on mobile
  src/theme/sections/About.tsx
Labels: bug
