Repository process-analytics/process-analytics.dev, pull requests merged in 2021-11, with the labels that each got.

#209 [FEAT] Improve the home about part 2
  src/content/about_content_2.mdx
Labels: enhancement

#220 [FEAT] Add blog post 'mxgraph in TS project'
  src/content/PostsContent.tsx
Labels: enhancement

#224 [FEAT] Create the new 'Blog' page
  src/pages/404.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/theme/components/Layout.tsx
  src/theme/components/PageHeader.tsx
  src/theme/sections/Blog.tsx
  src/theme/utils/constants.ts
Labels: enhancement

#225 [FEAT] Don't display all the posts in the 'Blog' section of the 'Home' page
  src/pages/blog.tsx
  src/theme/components/Footer.tsx
  src/theme/components/Header.tsx
  src/theme/components/Link.tsx
  src/theme/components/PageHeader.tsx
  src/theme/components/Post.tsx
  src/theme/components/Section.tsx
  src/theme/rebass-preset.d.ts
  src/theme/sections/Blog.tsx
  src/theme/sections/News.tsx
  src/theme/theme.ts
Labels: enhancement

#227 [FIX] Click on the entire 'Demo' button, not just the label
  src/theme/components/Header.tsx
  src/theme/components/PageHeader.tsx
  src/theme/rebass-preset.d.ts
  src/theme/theme.ts
Labels: bug

#245 [INFRA] Bump Node version from 14 to 16
  .github/workflows/build-pr.yml
  .github/workflows/deploy.yml
  README.md
  package-lock.json
Labels: infra:build

#250 [FEAT] Add Medium & Dev.to in the social links
  src/content/SocialLinkContent.tsx
  src/theme/icons.ts
Labels: enhancement

#251 [FEAT] Rename the 'More' button
  src/theme/components/Post.tsx
Labels: enhancement

#252 [FIX] The images in the About section were no longer displayed
  package-lock.json
  package.json
Labels: bug

#249 [INFRA] Add .nvmrc file
  .nvmrc
  README.md
Labels: infra:build

#226 [FEAT] Add description in the 'blog' and 'news' pages
  src/content/NewsContent.tsx
  src/content/PostsContent.tsx
  src/pages/blog.tsx
  src/pages/news.tsx
  src/theme/pages/PageWithPosts.tsx
Labels: enhancement
