Repository process-analytics/process-analytics.dev, pull requests merged in 2021-08, with the labels that each got.

#99 [FIX] Fix a warning on the SubSection of About section
  src/theme/sections/About.tsx
Labels: bug

#39 [FEAT] Use new logo
  src/images/logo.svg
  src/images/logo_white.svg
  src/theme/components/Footer.tsx
Labels: enhancement

#101 [FEAT] Let user consent or disable Google Analytics
  package-lock.json
  package.json
  src/theme/components/Layout.tsx
Labels: enhancement

#103 [FEAT] Have separate accounts for Google analytics for the different environment
  .github/workflows/deploy.yml
  .github/workflows/generate-site-preview.yml
  .gitignore
  gatsby-config.js
  src/theme/components/Layout.tsx
Labels: enhancement, infra:build

#81 [FEAT] Add complex diagram image on the Why sub-section
  ressources/Email Voting.bpmn
  src/content/AboutContent.tsx
  src/images/why_diagram.png
  src/theme/sections/About.tsx
  src/theme/types.ts
Labels: enhancement

#123 [FEAT Update divider in the 'About' section
  src/theme/sections/About.tsx
Labels: enhancement

#127 [FEAT] Configure robots.txt
  .github/workflows/deploy.yml
  gatsby-config.js
  package-lock.json
  package.json
Labels: enhancement

#128 [INFRA] Replace @tippy.js/react by @tippyjs/react
  package-lock.json
  package.json
  src/theme/components/SocialLink.tsx
Labels: dependencies

#122 [FEAT] Add complex diagram image on the What sub-section
  .eslintignore
  gatsby-config.js
  package-lock.json
  package.json
  src/content/AboutContent.tsx
  src/content/about_content_1.mdx
  src/content/about_content_2.mdx
  src/content/about_content_3.mdx
  src/content/about_content_4.mdx
  src/images/what_diagram.png
  src/theme/components/Divider.tsx
  src/theme/components/MarkdownComponents.tsx
  src/theme/components/description/DescriptionPanel.tsx
  src/theme/components/description/ImagePanel.tsx
  src/theme/components/description/MDXPanel.tsx
  src/theme/sections/About.tsx
  src/theme/types.ts
  src/types/images.d.ts
Labels: enhancement

#129 [FEAT] Improve the website rendering in mobile format
  src/theme/components/Divider.tsx
  src/theme/components/description/DescriptionPanel.tsx
  src/theme/components/description/ImagePanel.tsx
  src/theme/components/description/MDXPanel.tsx
Labels: enhancement

#132 [FEAT] Add a visible link for the demo
  src/theme/components/Header.tsx
  src/theme/theme.ts
Labels: enhancement

#130 [INFRA] Order dependencies & dev dependencies
  package-lock.json
  package.json
Labels: infra:build

#133 [DOC] Fix contributing guide
  CONTRIBUTING.md
Labels: documentation

#135 [FIX] Fix Twitter card
  gatsby-config.js
  src/content/HeaderContent.tsx
  src/content/HelmetContent.tsx
  src/theme/components/Footer.tsx
  src/theme/components/Header.tsx
  src/theme/components/Helmet.tsx
  static/image/og_card.webp
Labels: bug
