Repository process-analytics/process-analytics.dev, pull requests merged in 2021-06, with the labels that each got.

#7 [FEAT] Initialize the main page
  .gitignore
  README.md
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  public/favicon-32x32.png
  public/icons/icon-144x144.png
  public/icons/icon-192x192.png
  public/icons/icon-256x256.png
  public/icons/icon-384x384.png
  public/icons/icon-48x48.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/manifest.webmanifest
  public/page-data/404.html/page-data.json
  public/page-data/404/page-data.json
  public/page-data/dev-404-page/page-data.json
  public/page-data/index/page-data.json
  public/render-page.js
  public/render-page.js.map
  src/images/GitHub-Mark-120px-plus.png
  src/images/Twitter-social-icons-circle-blue.svg
  src/images/icon.png
  src/pages/404.js
  src/pages/index.js
  src/styles/global.css
Labels: enhancement

#9 [INFRA] Update the Readme
  CONTRIBUTING.md
  README.md
  public/favicon.ico
  public/icons/logo_64x64.ico
Labels: infra:repo

#8 [FEAT] Customize the 404 page
  src/images/404.png
  src/pages/404.js
Labels: enhancement

#13 [INFRA] Deploy site preview on Pull Request
  .github/workflows/generate-site-preview.yml
  gatsby-config.js
Labels: infra:repo

#10 [FEAT] Use project icons
  .gitignore
  README.md
  gatsby-config.js
  public/favicon-32x32.png
  public/favicon.ico
  public/icons/icon-144x144.png
  public/icons/icon-192x192.png
  public/icons/icon-256x256.png
  public/icons/icon-384x384.png
  public/icons/icon-48x48.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/icons/logo_64x64.ico
  public/manifest.webmanifest
  public/page-data/404.html/page-data.json
  public/page-data/404/page-data.json
  public/page-data/dev-404-page/page-data.json
  public/page-data/index/page-data.json
  public/render-page.js
  public/render-page.js.map
  src/images/icon.png
  src/images/logo.svg
Labels: enhancement

#17 [INFRA] Publish to gh-pages on push to the main branch
  .github/workflows/deploy.yml
  .github/workflows/generate-site-preview.yml
  static/.nojekyll
  static/CNAME
Labels: infra:repo

#15 [FIX] Fix external links
  src/pages/index.js
Labels: bug

#19 [FEAT] Use a new theme
  .github/dependabot.yml
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/content/AboutContent.tsx
  src/content/HelmetContent.tsx
  src/content/LandingContent.tsx
  src/content/LibraryContent.tsx
  src/content/PostsContent.tsx
  src/content/SocialLinkContent.tsx
  src/images/404.png
  src/images/GitHub-Mark-120px-plus.png
  src/images/Twitter-social-icons-circle-blue.svg
  src/images/logo.svg
  src/pages/404.js
  src/pages/404.tsx
  src/pages/index.js
  src/pages/index.tsx
  src/styles/global.css
  src/theme/colors.json
  src/theme/components/Card.tsx
  src/theme/components/CardFooter.tsx
  src/theme/components/Footer.tsx
  src/theme/components/Header.tsx
  src/theme/components/Helmet.tsx
  src/theme/components/Hide.tsx
  src/theme/components/Layout.tsx
  src/theme/components/Library.tsx
  src/theme/components/Link.tsx
  src/theme/components/MarkdownRenderer.tsx
  src/theme/components/Post.tsx
  src/theme/components/ScrollIcon.tsx
  src/theme/components/Section.tsx
  src/theme/components/SocialLink.tsx
  src/theme/components/Triangle.tsx
  src/theme/icons.ts
  src/theme/rebass-preset.d.ts
  src/theme/sections/About.tsx
  src/theme/sections/Blog.tsx
  src/theme/sections/Landing.tsx
  src/theme/sections/Libraries.tsx
  src/theme/styles/global.css
  src/theme/theme.ts
  src/theme/types.ts
  src/theme/utils/constants.ts
  src/theme/utils/helpers.ts
  src/theme/utils/icons.ts
  src/theme/utils/string.ts
  tsconfig.json
Labels: WIP :construction:, enhancement

#24 [FEAT] Dedicated logo for navbar and footer
  src/content/HelmetContent.tsx
  src/images/logo_white.svg
  src/theme/components/Footer.tsx
Labels: enhancement

#25 [FEAT] Use smaller image for the "automated test" blog post
  src/content/PostsContent.tsx
Labels: enhancement

#26 [FEAT] Remove the image animation in the about section
  gatsby-browser.js
  src/content/AboutContent.tsx
  src/styles/global.css
  src/theme/sections/About.tsx
  src/theme/types.ts
Labels: enhancement

#28 [FEAT] Set logo size in About section for desktop and mobile
  src/theme/sections/About.tsx
Labels: enhancement

#29 [FEAT] Display more libraries
  src/content/LibraryContent.tsx
  src/theme/components/Library.tsx
  src/theme/types.ts
Labels: enhancement

#27 [FEAT] Remove unused plugins
  gatsby-config.js
  package-lock.json
  package.json
Labels: enhancement

#31 [INFRA] Set the correct siteUrl in the gatsby configuration
  gatsby-config.js
Labels: infra:build

#32 [INFRA] Fix types and ensure GitHub workflows always check types
  .github/workflows/deploy.yml
  .github/workflows/generate-site-preview.yml
  src/types/images.d.ts
  tsconfig.json
Labels: infra:build

#35 [FIX] Fix the date on a post
  src/content/PostsContent.tsx
Labels: bug

#38 [FEAT] Add border to better highlight card on white background
  src/theme/components/Card.tsx
Labels: enhancement
