Repository process-analytics/process-analytics.dev, pull requests merged in 2022-06, with the labels that each got.

#535 [FEAT] Add May 2022 news
  src/content/NewsContent.tsx
Labels: enhancement

#542 [INFRA] Configure workflow for default read contents permissions GH TOKEN
  .github/workflows/deploy.yml
  .github/workflows/generate-site-preview.yml
Labels: infra:repo

#560 [FIX] Display the image of the 'layout generator' post
  src/content/PostsContent.tsx
Labels: bug

#567 [INFRA] Improve GitHub workflow and remove duplications
  .github/actions/build-setup/action.yml
  .github/workflows/build-pr.yml
  .github/workflows/deploy.yml
  .github/workflows/generate-site-preview.yml
Labels: infra:build
