Repository process-analytics/process-analytics.dev, pull requests merged in 2022-11, with the labels that each got.

#725 [CONTENT] Add October 2022 news entry
  src/content/NewsContent.tsx
Labels: news, content

#736 [INFRA] Update the minimal Node.js version to 18.0.0
  .github/workflows/build-pr.yml
  .github/workflows/deploy.yml
  .github/workflows/generate-site-preview.yml
  .nvmrc
  README.md
Labels: chore

#740 [INFRA] Update gatsby to 4.24.8
  package-lock.json
  package.json
Labels: dependencies

#744 [INFRA] Update gastby & its plugins to v5
  package-lock.json
  package.json
Labels: dependencies

#745 [CONTENT] Add a new post for the result of Hacktoberfest 2022
  src/content/PostsContent.tsx
Labels: post, content

#751 [CONTENT] Add the interview article with Wil van der Aalst
  src/content/PostsContent.tsx
Labels: post, content
