Repository process-analytics/process-analytics.dev, pull requests merged in 2022-10, with the labels that each got.

#696 [CONTENT] Add September 2022 news entry
  src/content/NewsContent.tsx
Labels: news, content

#698 [FEAT] Add tooltip in social links on footer, like it's done on landing section
  src/theme/components/Footer.tsx
  src/theme/components/Library.tsx
  src/theme/components/SocialLink.tsx
  src/theme/components/material-kit/MKTypography/MKTypography.tsx
  src/theme/sections/Landing.tsx
Labels: enhancement

#699 [INFRA] Add eslint configuration for mdx files
  .eslintrc.js
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/content/about_content_1.mdx
  src/content/about_content_2.mdx
  src/content/about_content_3.mdx
  src/content/about_content_4.mdx
Labels: dependencies, chore

#706 [DOC] Simplify the content of the NOTICE file
  NOTICE
  package.json
Labels: documentation

#723 [INFRA] Simplify usage of `npm install`
  .github/actions/build-setup/action.yml
  .npmrc
  README.md
  package-lock.json
Labels: chore
