Repository process-analytics/process-analytics.dev, pull requests merged in 2022-09, with the labels that each got.

#666 [CONTENT] Add the August 2022 news
  src/content/NewsContent.tsx
Labels: news, content

#672 [CONTENT] Add Hacktoberfest 2022 entry
  src/content/NewsContent.tsx
Labels: news, content

#693 [INFRA] Remove unnecessary dependency: @mui/icons-material
  package-lock.json
  package.json
Labels: chore

#692 [FEAT] Add Discord link in landing page & footer
  src/content/FooterRoutes.tsx
  src/content/SocialLinkContent.tsx
  src/theme/icons.ts
Labels: enhancement
