Repository process-analytics/process-analytics.dev, pull requests merged in 2022-08, with the labels that each got.

#616 [FEAT] Add new post for the EN Webinar
  src/content/PostsContent.tsx
Labels: enhancement

#617 [FEAT] Add new post for the FR Webinar
  src/content/PostsContent.tsx
Labels: enhancement

#633 [CONTENT] Add new post for Model Generation Application
  src/content/PostsContent.tsx
Labels: post, content

#618 [REFACTOR] Extract some type definitions in specific files
  src/theme/components/Layout.tsx
  src/types/gatsby-plugin-google-gtag.d.ts
  src/types/styled-components.d.ts
Labels: infra:refactoring

#644 doc: improve developers documentation (npm install)
  README.md
Labels: documentation

#651 [CONTENT] Add a new post for the Bonita Day presentation
  src/content/PostsContent.tsx
Labels: post, content

#604 [FEAT] Change footer
  package-lock.json
  package.json
  src/assets/theme/base/borders.ts
  src/assets/theme/base/boxShadows.ts
  src/assets/theme/base/breakpoints.ts
  src/assets/theme/base/colors.ts
  src/assets/theme/base/globals.ts
  src/assets/theme/base/typography.ts
  src/assets/theme/components/appBar.ts
  src/assets/theme/components/container.ts
  src/assets/theme/components/icon.ts
  src/assets/theme/components/iconButton.ts
  src/assets/theme/components/link.ts
  src/assets/theme/components/svgIcon.ts
  src/assets/theme/components/tooltip.ts
  src/assets/theme/functions/boxShadow.ts
  src/assets/theme/functions/hexToRgb.ts
  src/assets/theme/functions/linearGradient.ts
  src/assets/theme/functions/pxToRem.ts
  src/assets/theme/functions/rgba.ts
  src/assets/theme/index.ts
  src/content/FooterRoutes.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
  src/theme/components/Footer.tsx
  src/theme/components/Link.tsx
  src/theme/components/Route.tsx
  src/theme/components/SocialLink.tsx
  src/theme/components/material-kit/MKBox/MKBox.tsx
  src/theme/components/material-kit/MKBox/MKBoxRoot.tsx
  src/theme/components/material-kit/MKBox/index.ts
  src/theme/components/material-kit/MKTypography/MKTypography.tsx
  src/theme/components/material-kit/MKTypography/MKTypographyRoot.tsx
  src/theme/components/material-kit/MKTypography/index.ts
  src/theme/pages/PageWithPosts.tsx
  src/theme/types.ts
  src/types/@mui-material-styles.d.ts
  src/types/@mui-system-createTheme.d.ts
  src/types/rebass-preset.d.ts
Labels: enhancement
