Repository process-analytics/process-analytics.dev, pull requests merged in 2023-10, with the labels that each got.

#1169 feat: add September 2023 news
  src/content/NewsContent.tsx
Labels: news, content

#1171 chore(gatsby): update the gastby configuration
  gatsby-config.ts
Labels: chore

#1176 feat: remove the model generation application form provided by jot form
  src/components/index.tsx
  src/components/modelGenerationApp/Jotform.tsx
  src/components/modelGenerationApp/index.tsx
  src/content/FooterContent.tsx
  src/content/HeaderContent.tsx
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
Labels: enhancement, hacktoberfest-accepted

#1177 chore: remove unnecessary dependency: @types/react-headroom
  package-lock.json
  package.json
Labels: dependencies, hacktoberfest-accepted
