Repository process-analytics/process-analytics.dev, pull requests merged in 2023-07, with the labels that each got.

#1040 refactor(theme): remove the unnecessary ThemeProvider on the Header component
  src/theme/components/Header.tsx
Labels: refactoring

#1052 chore(dep): remove the old dependency react-cookie-consent
  package-lock.json
  package.json
Labels: dependencies

#1041 chore(dependabot): group dependencies
  .github/dependabot.yml
Labels: chore

#1054 feat: add style management article
  src/content/PostsContent.tsx
Labels: post, content

#1047 refactor(props): refactor social link props
  src/content/FooterContent.tsx
  src/content/LandingContent.tsx
  src/content/SocialLinkContent.tsx
  src/sections/home/Landing.tsx
  src/theme/components/Footer.tsx
  src/theme/components/SocialLink.tsx
  src/theme/components/index.tsx
  src/theme/types.ts
Labels: refactoring

#1044 refactor(props): refactor landing props
  src/components/seo.tsx
  src/content/LandingContent.tsx
  src/sections/home/Landing.tsx
  src/theme/types.ts
Labels: refactoring

#1046 refactor(props): refactor library props
  src/content/LibraryContent.tsx
  src/sections/home/Libraries.tsx
  src/theme/components/Library.tsx
  src/theme/components/index.tsx
  src/theme/types.ts
Labels: refactoring

#1057 refactor(props): refactor post props
  src/content/NewsContent.tsx
  src/content/PostsContent.tsx
  src/pages/blog.tsx
  src/pages/model-generation-application.tsx
  src/pages/news.tsx
  src/sections/SectionWithPosts.tsx
  src/sections/home/Blog.tsx
  src/sections/home/News.tsx
  src/theme/components/PostContainer.tsx
  src/theme/components/index.tsx
  src/theme/pages/PageWithPosts.tsx
  src/theme/types.ts
Labels: refactoring

#1060 refactor(image): move the folder of the images to the assets folder
  gatsby-config.ts
  src/assets/images/404.png
  src/assets/images/logo.svg
  src/assets/images/logo_white.svg
  src/assets/images/model-generation-app/how_it_works.png
  src/assets/images/model-generation-app/model_generation_app_preview.gif
  src/assets/images/what_diagram.svg
  src/assets/images/why_diagram.svg
  src/content/AboutContent.tsx
  src/content/BrandContent.tsx
  src/pages/404.tsx
  src/pages/model-generation-application.tsx
  src/theme/components/CookieConsentBanner.tsx
Labels: refactoring

#1061 refactor(css): move the CSS files to the assets folder
  gatsby-browser.tsx
  src/assets/css/cookieconsent.css
  src/assets/css/global.css
Labels: refactoring

#1065 refactor(link): refactor link props
  src/assets/oldTheme/types.ts
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Link.tsx
  src/components/Route.tsx
  src/components/index.tsx
  src/components/material-kit/Card/LibraryCard.tsx
  src/components/material-kit/Navbar/common/ActionButton.tsx
  src/components/material-kit/Navbar/common/BrandLink.tsx
  src/components/material-kit/Navbar/desktop/DropdownMenu.tsx
  src/components/material-kit/Navbar/desktop/NavbarItems.tsx
  src/components/material-kit/Navbar/desktop/NestedDropdownMenu.tsx
  src/components/material-kit/Navbar/mobile/DropdownDropdown.tsx
  src/components/material-kit/Navbar/mobile/DropdownLink.tsx
  src/components/material-kit/Navbar/mobile/NavLink.tsx
Labels: refactoring
