Repository process-analytics/process-analytics.dev, pull requests merged in 2023-08, with the labels that each got.

#1073 refactor(navbar): rename navbar components
  src/components/material-kit/Navbar/Navbar.tsx
  src/components/material-kit/Navbar/desktop/Dropdown.tsx
  src/components/material-kit/Navbar/desktop/DropdownDropdown.tsx
  src/components/material-kit/Navbar/desktop/NavDropdown.tsx
  src/components/material-kit/Navbar/desktop/NavbarNav.tsx
  src/components/material-kit/Navbar/desktop/index.tsx
Labels: refactoring

#1074 refactor(navbar): refactor props of Navbar component
  src/components/material-kit/Navbar/Navbar.tsx
  src/components/material-kit/Navbar/common/HoverStyle.tsx
Labels: refactoring

#1076 refactor(navbar): introduce DropdownProps
  src/components/material-kit/Navbar/desktop/Dropdown.tsx
Labels: refactoring

#1077 refactor(navbar): split navDropdown file
  src/components/material-kit/Navbar/desktop/Dropdown.tsx
  src/components/material-kit/Navbar/desktop/NavDropdown.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/ColumnDropdownMenus.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/ListDropdownMenus.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/NavDropdown.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/index.ts
Labels: refactoring

#1078 refactor(navbar): split DropdownDropdown file
  src/components/material-kit/Navbar/desktop/DropdownDropdown.tsx
  src/components/material-kit/Navbar/desktop/DropdownLink.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/ListDropdownMenus.tsx
Labels: refactoring

#1079 refactor(navbar): rename ColumnDropdownMenus in ColumnNavDropdown
  src/components/material-kit/Navbar/desktop/navDropdown/ColumnNavDropdown.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/NavDropdown.tsx
Labels: refactoring

#1080 refactor(navbar): rename ListDropdownMenus in ListNavDropdown
  src/components/material-kit/Navbar/desktop/navDropdown/ListNavDropdown.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/NavDropdown.tsx
Labels: refactoring

#1081 refactor(navbar): convert ListNavDropdown in component function
  src/components/material-kit/Navbar/desktop/navDropdown/ListNavDropdown.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/NavDropdown.tsx
Labels: refactoring

#1082 refactor(navbar): convert ColumnNavDropdown in component function
  src/components/material-kit/Navbar/desktop/navDropdown/ColumnNavDropdown.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/NavDropdown.tsx
Labels: refactoring

#1083 refactor(navbar): split column navDropdown function for desktop view
  src/components/material-kit/Navbar/desktop/navDropdown/ColumnNavDropdown.tsx
Labels: refactoring

#1087 refactor(navbar): avoid to send the state to the component children for the desktop component
  src/components/material-kit/Navbar/desktop/Dropdown.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/NavDropdown.tsx
Labels: refactoring

#1089 refactor(navbar): mutualize common component for mobile & desktop views
  src/components/material-kit/Navbar/common/NavLink.tsx
  src/components/material-kit/Navbar/common/index.tsx
  src/components/material-kit/Navbar/desktop/NavbarNav.tsx
  src/components/material-kit/Navbar/mobile/NavbarNav.tsx
Labels: refactoring

#1090 feat: add july 2023 news
  src/content/NewsContent.tsx
Labels: news, content

#1093 refactor(navbar): change some props
  src/components/Header.tsx
  src/components/material-kit/Navbar/Navbar.tsx
  src/components/material-kit/Navbar/desktop/Dropdown.tsx
  src/components/material-kit/Navbar/desktop/DropdownDropdown.tsx
  src/components/material-kit/Navbar/desktop/DropdownLink.tsx
  src/components/material-kit/Navbar/desktop/NavbarNav.tsx
  src/components/material-kit/Navbar/desktop/columnNavDropdown/DropdownItem.tsx
  src/components/material-kit/Navbar/desktop/listNavDropdown/DropdownDropdown.tsx
  src/components/material-kit/Navbar/desktop/listNavDropdown/DropdownLink.tsx
  src/components/material-kit/Navbar/desktop/listNavDropdown/ListNavDropdown.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/NavDropdown.tsx
  src/components/material-kit/Navbar/mobile/DropdownDropdown.tsx
  src/components/material-kit/Navbar/mobile/NavbarNav.tsx
Labels: refactoring

#1094 refactor(navbar): change missing props
  src/components/Header.tsx
  src/components/material-kit/Navbar/desktop/DropdownDropdown.tsx
  src/components/material-kit/Navbar/desktop/columnNavDropdown/DropdownItem.tsx
  src/components/material-kit/Navbar/mobile/DropdownDropdown.tsx
  src/components/material-kit/Navbar/mobile/DropdownLink.tsx
  src/components/material-kit/Navbar/mobile/NavDropdown.tsx
Labels: refactoring

#1102 feat(gatsby): change the colors in the Gatsby configuration
  .github/workflows/build-pr.yml
  .github/workflows/generate-site-preview.yml
  gatsby-config.ts
Labels: enhancement, refactoring

#1103 feat(button): use MaterialUI in the Button component
  src/components/Button.tsx
  src/components/PostContainer.tsx
  src/components/index.tsx
Labels: enhancement, refactoring

#1106 feat(post): use MaterialUI in PostContainer component
  src/components/PostContainer.tsx
Labels: enhancement, refactoring

#1109 feat(post): use MaterialUI in PageWithPosts component
  src/components/PageWithPosts.tsx
  src/pages/blog.tsx
  src/pages/news.tsx
Labels: enhancement, refactoring

#1112 feat(page): use MaterialUI in the model generation application page
  src/assets/theme/base/globals.ts
  src/assets/theme/index.ts
  src/components/material-kit/MKTypography/MKTypographyRoot.tsx
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
Labels: enhancement, refactoring

#1113 feat(page): use MaterialUI in the model generation application conditions page
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
Labels: enhancement, refactoring

#1115 feat(model generation app): use MaterialUI in the ModelGenerationApplication components
  src/components/modelGenerationApp/CardWithIcon.tsx
  src/components/modelGenerationApp/Features.tsx
  src/pages/model-generation-application.tsx
Labels: enhancement, refactoring

#1116 feat(section): use MaterialUI in the Section component
  src/components/Section.tsx
  src/components/modelGenerationApp/Features.tsx
Labels: enhancement, refactoring

#1120 feat(page): use MaterialUI in the 404 page
  src/pages/404.tsx
Labels: enhancement, refactoring

#1121 feat(page): use MaterialUI in the Landing section
  src/sections/home/Landing.tsx
Labels: enhancement, refactoring

#1100 feat(social link): use MaterialUI in SocialLink component
  src/components/Footer.tsx
  src/components/SocialLink.tsx
  src/components/index.tsx
Labels: enhancement, refactoring

#1122 feat(seo): use MaterialUI in the SEO component
  src/components/SEO.tsx
  src/components/index.tsx
Labels: enhancement, refactoring

#1126 feat(theme): use the config from Material Kit for the theme of Material UI
  src/assets/theme/base/borders.ts
  src/assets/theme/base/globals.ts
  src/assets/theme/base/typography.ts
  src/assets/theme/components/muiCard.ts
  src/assets/theme/components/muiContainer.ts
  src/assets/theme/components/muiIcon.ts
  src/assets/theme/components/muiSvgIcon.ts
  src/assets/theme/components/muiTooltip.ts
  src/types/@mui-material-styles.d.ts
Labels: enhancement, refactoring

#1129 refactor(mui): extract all helpers from theme
  src/assets/theme/base/boxShadows.ts
  src/assets/theme/base/colors.ts
  src/assets/theme/base/index.ts
  src/assets/theme/components/muiCard.ts
  src/assets/theme/components/muiTooltip.ts
  src/assets/theme/functions/boxShadow.ts
  src/assets/theme/functions/hexToRgb.ts
  src/assets/theme/functions/linearGradient.ts
  src/assets/theme/functions/rgba.ts
  src/assets/theme/helpers/border-utils.ts
  src/assets/theme/helpers/box-shadow-utils.ts
  src/assets/theme/helpers/color-utils.ts
  src/assets/theme/helpers/index.ts
  src/assets/theme/helpers/px-to-rem.ts
  src/assets/theme/index.ts
  src/components/material-kit/MKBox/MKBoxRoot.tsx
  src/components/material-kit/MKTypography/MKTypographyRoot.tsx
  src/components/material-kit/Navbar/common/ActionButton.tsx
  src/components/material-kit/Navbar/desktop/DropdownLink.tsx
  src/components/material-kit/Navbar/desktop/columnNavDropdown/DropdownDropdown.tsx
  src/components/material-kit/Navbar/desktop/listNavDropdown/DropdownDropdown.tsx
  src/components/material-kit/Navbar/desktop/listNavDropdown/DropdownLink.tsx
  src/components/material-kit/Navbar/mobile/DropdownDropdown.tsx
  src/components/material-kit/Navbar/mobile/DropdownLink.tsx
  src/hooks/useMobileViewStatus.ts
  src/types/@mui-material-styles.d.ts
Labels: refactoring

#1130 refactor(mui): extract theme object from index file
  src/assets/theme/index.ts
  src/assets/theme/theme.ts
Labels: refactoring

#1132 feat(mdx): use MaterialUI in the image & the box components for the MDX content
  src/components/description/ImagePanel.tsx
  src/components/description/MDXPanel.tsx
Labels: enhancement, refactoring

#1133 feat(mdx): use MaterialUI in the styled components for the MDX content
  src/components/MarkdownComponents.tsx
  src/components/description/MDXPanel.tsx
  src/content/about_content_3.mdx
Labels: enhancement, refactoring

#1127 fix(font): fix responsive font
  src/assets/theme/base/typography.ts
  src/assets/theme/responsiveFont.ts
Labels: bug

#1123 feat(mailing list sub): replace the newsletter subscription components by one of Material Kit
  src/assets/theme/base/colors.ts
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/PageWithPosts.tsx
  src/components/description/MDXPanel.tsx
  src/components/index.tsx
  src/components/mailingListSubscription/ContainerContent.tsx
  src/components/mailingListSubscription/Form.tsx
  src/components/mailingListSubscription/Icon.tsx
  src/components/mailingListSubscription/MailingListSubscription.tsx
  src/components/mailingListSubscription/Overlay.ts
  src/components/mailingListSubscription/ResponseContainer.tsx
  src/components/mailingListSubscription/index.ts
  src/components/material-kit/MKBox/MKBox.tsx
  src/components/material-kit/MKBox/MKBoxRoot.tsx
  src/components/material-kit/Navbar/Navbar.tsx
  src/components/material-kit/Navbar/common/ActionButton.tsx
  src/components/material-kit/Navbar/desktop/Dropdown.tsx
  src/components/material-kit/Navbar/desktop/DropdownDropdown.tsx
  src/components/material-kit/Navbar/desktop/index.tsx
  src/components/material-kit/Navbar/desktop/navDropdown/NavDropdown.tsx
  src/components/material-kit/Navbar/mobile/NavbarNav.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/sections/home/Newsletter.tsx
  src/sections/home/index.ts
  src/types/@mui-material-button.d.ts
Labels: enhancement

#1134 feat(layout): use materialUI in layout component
  src/assets/oldTheme/colors.json
  src/assets/oldTheme/icons.ts
  src/assets/oldTheme/index.ts
  src/assets/oldTheme/theme.ts
  src/assets/oldTheme/types.ts
  src/assets/theme/base/globals.ts
  src/assets/theme/base/index.ts
  src/assets/theme/components/index.ts
  src/assets/theme/components/muiButtonBase.ts
  src/assets/theme/components/muiCssBaseline.ts
  src/assets/theme/theme.ts
  src/components/Layout.tsx
  src/helper/icons.ts
  src/types/images.d.ts
Labels: enhancement, refactoring

#851 chore: remove style-components & rebass dependencies
  gatsby-config.ts
  package-lock.json
  package.json
  src/types/rebass-preset.d.ts
  src/types/styled-components.d.ts
Labels: dependencies, chore

#1137 fix(card): fix library card rendering on mobile view
  src/components/material-kit/Card/LibraryCard.tsx
Labels: bug

#1139 feat(logo): replace the Twitter logo with its new (X)
  src/content/SocialLinkContent.tsx
  src/helper/icons.ts
Labels: enhancement

#1141 feat: add a testimonials section in the home page
  src/assets/images/logo_bonitasoft_inline.svg
  src/helper/constants.ts
  src/pages/index.tsx
  src/sections/home/Newsletter.tsx
  src/sections/home/Testimonials.tsx
Labels: enhancement
