Repository process-analytics/process-analytics.dev, pull requests merged in 2023-03, with the labels that each got.

#919 fix: fix the size of the bottom space of the `Librairies` section
  src/theme/components/Card.tsx
  src/theme/components/Layout.tsx
  src/theme/sections/Libraries.tsx
Labels: bug

#918 refactor: remove unnecessary parameter `Background` in `SectionWithTitle`
  src/theme/sections/SectionWithPosts.tsx
Labels: refactoring

#917 feat(mobile): change the section background on mobile format
  src/theme/components/Section.tsx
Labels: enhancement

#924 refactor: move the sections folder
  src/pages/index.tsx
  src/sections/SectionWithPosts.tsx
  src/sections/home/About.tsx
  src/sections/home/Blog.tsx
  src/sections/home/Landing.tsx
  src/sections/home/Libraries.tsx
  src/sections/home/ModelGenerationApp.tsx
  src/sections/home/News.tsx
  src/sections/home/index.ts
  src/sections/index.ts
Labels: refactoring

#937 refactor: simplify internal links
  src/content/FooterRoutes.tsx
  src/theme/components/Footer.tsx
  src/theme/components/Link.tsx
  src/theme/types.ts
Labels: refactoring

#939 refactor: remove unused component
  src/theme/components/ScrollIcon.tsx
Labels: refactoring

#923 feat: replace the header by a new header from material kit
  package-lock.json
  package.json
  src/content/HeaderRoutes.tsx
  src/pages/404.tsx
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
  src/theme/components/Header.tsx
  src/theme/components/Link.tsx
  src/theme/components/PageHeader.tsx
  src/theme/components/index.tsx
  src/theme/components/material-kit/Navbar/ActionButton.tsx
  src/theme/components/material-kit/Navbar/BrandLink.tsx
  src/theme/components/material-kit/Navbar/Navbar.tsx
  src/theme/components/material-kit/Navbar/NavbarItem.tsx
  src/theme/components/material-kit/Navbar/desktop/DropdownMenu.tsx
  src/theme/components/material-kit/Navbar/desktop/NestedDropdownMenu.tsx
  src/theme/components/material-kit/Navbar/desktop/index.tsx
  src/theme/components/material-kit/Navbar/index.ts
  src/theme/components/material-kit/Navbar/mobile/NavbarButton.tsx
  src/theme/components/material-kit/Navbar/mobile/NavbarNav.tsx
  src/theme/components/material-kit/Navbar/mobile/index.tsx
  src/theme/components/material-kit/index.tsx
  src/theme/pages/PageWithPosts.tsx
  src/theme/types.ts
  src/types/@mui-material-button.d.ts
Labels: enhancement

#941 refactor(navbar): split navbar and move common components
  src/theme/components/material-kit/Navbar/Navbar.tsx
  src/theme/components/material-kit/Navbar/common/ActionButton.tsx
  src/theme/components/material-kit/Navbar/common/BrandLink.tsx
  src/theme/components/material-kit/Navbar/common/NavbarItem.tsx
  src/theme/components/material-kit/Navbar/common/NavbarItems.tsx
  src/theme/components/material-kit/Navbar/common/index.tsx
  src/theme/components/material-kit/Navbar/mobile/NavbarNav.tsx
Labels: refactoring

#946 fix(mobile): remove the extra color blocks on right
  src/theme/components/Section.tsx
Labels: bug

#947 feat: improve the design of the mobile view
  src/pages/model-generation-application.tsx
  src/sections/home/ModelGenerationApp.tsx
  src/theme/components/Post.tsx
  src/theme/components/Section.tsx
  src/theme/components/material-kit/Navbar/Navbar.tsx
  src/theme/components/material-kit/Navbar/common/NavbarItem.tsx
  src/theme/components/material-kit/Navbar/mobile/DropdownDropdown.tsx
  src/theme/components/material-kit/Navbar/mobile/DropdownLink.tsx
  src/theme/utils/helpers.ts
Labels: bug

#949 docs: update the "og card" image
  static/image/og_card.webp
Labels: documentation
