Repository process-analytics/process-analytics.dev, pull requests merged in 2023-02, with the labels that each got.

#846 [CONTENT] Add January 2023 news entry
  src/content/NewsContent.tsx
Labels: news, content

#854 chore: ensure that the PR title follows "Conventional Commits"
  .github/dependabot.yml
  .github/workflows/pr-metadata-checks.yml
  CONTRIBUTING.md
Labels: chore

#855 fix: reduce the number of accessibility issues
  src/components/seo.tsx
  src/theme/components/Footer.tsx
  src/theme/components/Layout.tsx
  src/theme/components/Section.tsx
  src/theme/components/mailingListSubscription/Icon.tsx
  src/types/@mui-material-styles.d.ts
Labels: bug

#862 refactor: remove the unused `Hide` component
  src/theme/components/Hide.tsx
Labels: refactoring

#860 feat: Improve the design of the 404 page
  src/pages/404.tsx
  src/theme/components/Layout.tsx
Labels: enhancement

#859 feat: Improve the margin between subsection in the About section, when there is no divider
  src/content/AboutContent.tsx
  src/theme/components/description/DescriptionPanel.tsx
Labels: enhancement

#858 feat: Improve the button design
  src/theme/components/Button.tsx
  src/theme/components/Header.tsx
  src/theme/components/Link.tsx
  src/theme/components/PageHeader.tsx
  src/theme/components/Post.tsx
  src/theme/components/Section.tsx
Labels: enhancement

#856 feat: Split the Model Generation Application page in sections
  src/pages/model-generation-application.tsx
  src/theme/components/Section.tsx
Labels: enhancement

#857 feat: change the type of the link for the logo in the headers
  src/theme/components/Header.tsx
  src/theme/components/Layout.tsx
  src/theme/components/PageHeader.tsx
Labels: enhancement

#863 refactor: rename section components
  src/pages/404.tsx
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
  src/theme/components/Section.tsx
  src/theme/pages/PageWithPosts.tsx
  src/theme/sections/About.tsx
  src/theme/sections/Blog.tsx
  src/theme/sections/Landing.tsx
  src/theme/sections/Libraries.tsx
  src/theme/sections/News.tsx
  src/theme/sections/SectionWithPosts.tsx
Labels: chore

#861 feat: introduce new page headers
  package-lock.json
  package.json
  src/content/HeaderContent.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
  src/theme/components/Header.tsx
  src/theme/components/Layout.tsx
  src/theme/components/PageHeader.tsx
  src/theme/pages/PageWithPosts.tsx
Labels: enhancement

#864 feat: improve the design of the sections
  src/pages/404.tsx
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
  src/theme/components/Post.tsx
  src/theme/components/Section.tsx
  src/theme/components/Triangle.tsx
  src/theme/pages/PageWithPosts.tsx
  src/theme/sections/About.tsx
  src/theme/sections/Blog.tsx
  src/theme/sections/Landing.tsx
  src/theme/sections/Libraries.tsx
  src/theme/sections/News.tsx
  src/theme/sections/SectionWithPosts.tsx
Labels: enhancement

#866 feat: introduce a new theme
  src/assets/theme/base/colors.ts
  src/images/logo.svg
  src/images/logo_white.svg
  src/theme/colors.json
  src/theme/components/Section.tsx
  src/theme/sections/ModelGenerationApp.tsx
  src/theme/styles/global.css
  src/types/@mui-material-styles.d.ts
  src/types/rebass-preset.d.ts
Labels: enhancement

#893 feat: change the order of the sections in the header
  src/theme/utils/constants.ts
  src/theme/utils/string.ts
Labels: enhancement

#900 fix(footer): replace the theme reference in the footer
  src/theme/components/Footer.tsx
Labels: bug
