Repository process-analytics/process-analytics.dev, pull requests merged in 2023-04, with the labels that each got.

#953 feat: add March 2023 news entry
  src/content/NewsContent.tsx
Labels: news, content

#994 chore: run dependabot on friday
  .github/dependabot.yml
Labels: chore

#973 refactor(layout): move the footer and the header component declaration in the layout component
  src/assets/theme/base/colors.ts
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/model-generation-application-conditions.tsx
  src/pages/model-generation-application.tsx
  src/theme/components/Footer.tsx
  src/theme/components/Layout.tsx
  src/theme/components/Library.tsx
  src/theme/components/Post.tsx
  src/theme/pages/PageWithPosts.tsx
Labels: refactoring
